---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/steps/date/2024-03-12/1d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer valid_token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="api.fitbit.com"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": false,
          "errors": [{
            "errorType": "invalid_token",
            "message": "Access token invalid: valid_token. Visit https://dev.fitbit.com/docs/oauth2 for more information on the Fitbit Web API authorization process."
          }]
        }
  recorded_at: Thu, 12 Jun 2025 22:25:49 GMT
recorded_with: VCR 6.3.1
