---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/sleep/date/2024-03-12.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer valid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="api.fitbit.com"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success": false,
          "errors": [{
            "errorType": "invalid_token",
            "message": "Access token invalid: valid_token. Visit https://dev.fitbit.com/docs/oauth2 for more information on the Fitbit Web API authorization process."
          }]
        }
  recorded_at: Thu, 12 Jun 2025 22:48:47 GMT
- request:
    method: post
    uri: https://api.fitbit.com/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=valid_refresh_token&client_id&client_secret
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=utf-8
      Fitbit-Rate-Limit-Reset:
      - '3600'
      Fitbit-Rate-Limit-Limit:
      - '150'
      Www-Authenticate:
      - Bearer realm="api.fitbit.com"
      Fitbit-Rate-Limit-Remaining:
      - '150'
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"invalid_client","message":"Invalid authorization
        header. Client id invalid. Visit https://dev.fitbit.com/docs/oauth2 for more
        information on the Fitbit Web API authorization process."}],"success":false}'
  recorded_at: Thu, 12 Jun 2025 22:48:47 GMT
recorded_with: VCR 6.3.1
